body{
    padding: 40px 40px 40px 40px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
}

img{
    max-width: 100%;
    margin: 10px 10px;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    box-shadow: -5px 5px whitesmoke,5px 5px whitesmoke ;
    width: 30%;
    border-radius: 10px;
}

img:hover
{
    background-color: darkgoldenrod;
}

img:nth-child(2n+1){
    border: 1px solid green;
}




ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0px 20px;
    
    
}

li{
    padding: 20px 15px;
    
}

nav a{
    text-decoration: none;
    color: black;
    font-family: 'Special Elite', cursive;
}

.active{
   
    text-decoration: underline;
    text-underline-offset: 8px; 
    color: rgb(145, 112, 55);
}

.skip{
    position: absolute;
    left: -1000px;

}

.skip:focus{
    left: 0px;
}
